.wp-block-ay-gallery {
	overflow-x:hidden;
}

.ay-gallery {
	line-height:0;
	max-width:1210px;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	position:relative;
	box-sizing:border-box;
	overflow:hidden;
}

.alignfull .ay-gallery {
	max-width:none;
	margin-left:-5px;
	margin-right:-5px;
}

.ay-gallery__item {
	margin:0;
	padding:5px;
	width:100%;
	box-sizing:border-box;
}

.ay-gallery__item-img {
	max-width:100%;
	width:100%;
	height:auto;
}

.col-2 .ay-gallery__item {
	width:50%!important;
}

.col-3 .ay-gallery__item {
	width:33.33%!important;
}